@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@font-face {
  font-family: "Joystix";
  src: url("/fonts/Joystix Monospace.ttf");
}
/* ------------------------ OVERRIDE RULES ------------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  color: #f3f3f3;
}

body, html {
  height: 100%;
}

body {
  background-color: #020146;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

nav {
  background: #212166;
  padding: 0 1rem;
}

textarea:focus, input:focus {
  outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* ------------------------ UTILITY CLASSES ------------------------ */
.wrapper-flex-row {
  max-width: 1360px;
  margin: auto;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  padding: 0.05rem 0.3rem;
  border-radius: 3px;
  max-width: 30%;
  text-align: center;
  border: none;
}

.btn-delete {
  background: #920909;
  margin-left: 0.1rem;
  padding: 0.15rem 0.3rem;
  font-size: 0.75rem;
  border: 1px solid yellow;
  display: none;
}

.add-level::before {
  content: "+";
}

.hide {
  visibility: hidden;
}

.hide-full {
  display: none !important;
}

/* ------------------------ NAVIGATION BAR ------------------------ */
.menu {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}
.menu .menu__logo {
  flex: 1;
  letter-spacing: -1px;
  font-size: 1.3rem;
}
.menu .menu__item {
  display: block;
  width: auto;
  font-size: 1.1rem;
}
.menu .menu__item a:hover {
  color: #a382ff;
}
.menu .menu--toggle {
  display: none;
}
.menu li a {
  display: block;
  padding: 1rem 2rem;
}

.tab-content {
  display: none;
  grid-template-columns: repeat(auto-fill, minmax(100px, 200px));
  column-gap: 3rem;
  row-gap: 1rem;
  max-width: 1200px;
  padding: 0;
}
.tab-content.is-active {
  display: grid;
}

/* ------------------------ RELICS ------------------------ */
.main {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  align-items: center;
}

.main--tabs {
  margin-top: 1rem;
  margin-bottom: 3rem;
  text-align: center;
}
.main--tabs ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
.main--tabs ul li {
  font-size: 2rem;
  margin: 0.2rem 2rem;
}
.main--tabs ul li.is-active a {
  color: #a382ff;
}
.main--tabs h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
}

.relics--card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  padding: 1rem 0.75rem;
  margin: 1.5rem;
  width: 200px;
  min-height: 200px;
}
.relics--card:hover > .relics--card--stat > .btn-delete {
  display: block;
}
.relics--card .relics--card__name {
  text-align: center;
  height: 40px;
}
.relics--card .relics--card__img {
  margin-top: 1rem;
  transition: 0.2s;
}
.relics--card .relics--card__img:hover {
  transform: translate(0, -10px);
}
.relics--card .relics--card--stat, .relics--card .relic-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 0.5rem 0;
  margin-top: 1rem;
}
.relics--card .relics--card--stat__level {
  font-size: 1.2rem;
}
.relics--card .relics--card--stat__result {
  text-align: center;
  overflow-wrap: break-word;
  width: 95%;
  margin-top: 0.4rem;
}

.input-styling {
  max-width: 5.5rem;
  font-size: 1.2rem;
  color: #f6f6f6;
  background: transparent;
  border: none;
  margin: 0 0.5rem;
}
.input-styling::placeholder {
  color: #f6f6f6;
}
.input-styling:focus::placeholder {
  color: transparent;
}

@media all and (max-width: 767px) {
  nav {
    padding: 0;
  }

  .main--tabs {
    flex-direction: row;
    margin: 2rem 0;
  }
  .main--tabs .main--tabs__heading {
    font-size: 1.25rem;
    margin: 0 1rem;
  }

  .menu {
    flex-wrap: wrap;
  }
  .menu .menu__item {
    order: 2;
    width: 100%;
    text-align: center;
    display: none;
  }
  .menu .menu--toggle {
    display: block;
    order: 1;
    font-size: 1.25rem;
  }

  .active .menu__item {
    display: block;
  }

  .wrapper-flex-row {
    padding: 0;
  }

  #main--main-relics {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .wrapper-flex-row {
    padding: 0;
  }

  #main--main-relics {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0;
  }
}
@media (min-width: 481) and (max-width: 699px) {
  .main--tabs {
    margin: 0;
  }
  .main--tabs .main--tabs__heading {
    font-size: 1.25rem;
    margin: 0 1rem;
  }

  .wrapper-flex-row {
    padding: 0;
  }

  #main--main-relics {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .main--tabs {
    margin-top: 1rem;
  }
  .main--tabs .main--tabs__heading {
    font-size: 1.25rem;
    margin: 0 1rem;
  }

  #main--main-relics {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0;
  }
}

/*# sourceMappingURL=style.css.map */
